@namespace BlazorFlowly.Components

@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize

<AntDesign.Tooltip Placement="@Placement.Bottom" Title="HelperContent">
	<DatePicker @bind-Value="@Date" Style="@Style" Format="dd/MM/yyyy" Picker="@DatePickerType.Date" DisabledDate="@disabledDate"  OnChange="SetDateInput"/>
</AntDesign.Tooltip>


@code {
	[Parameter]
	public string Style { get; set; } = "width: 120px;";

	[Parameter]
	public DateTime? StartDate { get; set; }

	DateTime? Date;

	[Parameter]
	public Action<DateTime> SetInput { get; set; }

	[Parameter]
	public RenderFragment HelperContent { get; set; }   


	private void SetDateInput(){
		if(Date != null){
			SetInput.Invoke((DateTime)Date);
		} 
	}

	bool disabledDate(DateTime date) {
		if(StartDate != null){
			return date < StartDate;
		}
		else{
			return false;
		}
	}

	protected override void OnParametersSet() {
		base.OnParametersSet();

		if (HelperContent == null) {
			HelperContent = @<div>
							    <p> @GetLocalizedString("Date au format")</p>
							    <b>@GetLocalizedString("JJ/MM/AAAA")</b>
							</div>;

		}
	}

	private string GetLocalizedString(string input)
    {
        return (string)Localize[input];
    }
}
